<html>

<head>
	<title>availability-Form</title>

	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/login_signup.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/datepicker.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/wickedpicker.min.css">

	<script src="/assets/js/dependencies/jquery.min.js"></script>
	<script src="/assets/js/dependencies/bootstrap.min.js"></script>
	<script src="/assets/js/dependencies/datepicker.min.js"></script>
	<script src="/assets/js/dependencies/wickedpicker.min.js"></script>

	<script src="/assets/js/controllers/paticipantsFormPageController.js"></script>

</head>

<body>

	<div class="container-fluid" >
		<div id="topNavContent"></div>

		<h2>Cart Form</h2>

		<div class="row">
			<div class="center-block">
				<form id="DateForm" method="post" class="form-horizontal">

					<div class="form-group well">

						<label class="col-xs-1 control-label">Date</label>
						<div class="col-xs-2">
							<input type="text" data-toggle="datepicker" class="form-control" name="day[0].date" placeholder="Enter Date"></div>
						<div >
							<label class="col-xs-1 control-label">From:</label>
							<div class="col-xs-2">
								<input type="text" name="day[0].time.from" class="form-control timepicker" placeholder="Enter Beginning of Free Time Period (24 Hour Clock)"/>
							</div>
							<label class="col-xs-1 control-label">To:</label>
							<div class="col-xs-2">
								<input type="text" name="day[0].time.to" class="form-control timepicker" placeholder="Enter End of Free Time Period (24 Hour Clock)"/>
							</div>
							<div class="col-xs-2">
								<button type="button"  class="btn btn-success addButton"> <i class="fa fa-plus">Add Another Date and/or Time</i>
								</button>
							</div>
						</div>
					</div>

					<div class="form-group well hide" id="dateTemplate">
						<label class="col-xs-1 control-label">Date</label>
						<div class="col-xs-2 ">
							<input type="text" data-toggle="datepicker" class="form-control" name="date" placeholder="Enter Date">
						</div>
						<label class="col-xs-1 control-label">From:</label>
						<div class="col-xs-2">
							<input type="text" name="timeFrom" class="form-control" placeholder="Enter Beginning of Free Time Period (24 Hour Clock)"/>
						</div>
						<label class="col-xs-1 control-label">To:</label>
						<div class="col-xs-2">
							<input type="text" name="timeTo" class="form-control" placeholder="Enter End of Free Time Period (24 Hour Clock)"/>
						</div>
					
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				</div>

				

			</div>
		

		<div id="bottomNavContent"></div>
	</div>

</body>
</html>